<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body>
    <h1>Cadastro de Usuario</h1>
    <form  method="post" th:object="${form}">
        <label for="">Nome:</label>
        <input th:field="*{nome}" type="text">
        <br> <br>
        <label for="">Telefone:</label>
        <input th:field="*{telefone}" type="text">
        <br>
        <br>
        <label for="">Nº de Bilhete:</label>
        <input th:field="*{bI}" type="text">
        <br> <br>
        <button type="submit">Salvar</button>

    </form>
</body>

</html>