<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conheçendo SpringBoot</title>
</head>
<body>
    <h1>Ola TreinaWeb <span th:text="${nome}"></span></h1>
    <p th:text="${mostra}"></p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Debitis reprehenderit incidunt aliquam praesentium possimus asperiores, quo iusto repellendus, sed saepe eum omnis modi 
        deleniti similique dolores maxime commodi mollitia quis!</p>
</body>
</html>